<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Login</title>-->
<!--  &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
<!--        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"-->
<!--        crossorigin="anonymous">-->
<!--  <style>-->
<!--    body {-->
<!--      background-color: #27282a;-->
<!--      color: #fff;-->
<!--    }-->
<!--    .form-control {-->
<!--      background-color: rgba(255, 255, 255, 0.2);-->
<!--      border-color: #fff;-->
<!--      color: #fff;-->
<!--    }-->
<!--    .form-control:focus {-->
<!--      background-color: rgba(255, 255, 255, 0.3);-->
<!--      border-color: #fff;-->
<!--      color: #fff;-->
<!--    }-->
<!--    .btn-primary {-->
<!--      background-color: #fff;-->
<!--      border-color: #fff;-->
<!--      color: #27282a;-->
<!--    }-->
<!--    .btn-primary:hover {-->
<!--      background-color: #27282a;-->
<!--      border-color: #27282a;-->
<!--      color: #fff;-->
<!--    }-->
<!--  </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container-fluid mt-5">-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="col-md-6 col-lg-4">-->
<!--      <h2 class="text-center mb-4">Register</h2>-->
<!--      <form th:action="@{/login}" method="post">-->
<!--        <div class="form-group">-->
<!--          <label for="email">Email</label>-->
<!--          <input type="text" class="form-control" id="email" name="username" required>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="fullName">Full Name</label>-->
<!--          <input type="text" class="form-control" id="fullName" name="username" required>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="password">Password</label>-->
<!--          <input type="password" class="form-control" id="password" name="password" required>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary btn-block mt-4">Register</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; Bootstrap JS &ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
<!--        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
<!--        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjU-->
